<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="S3_KEY"      value="xxx"/>
        <env name="S3_SECRET"   value="xxx"/>
        <env name="S3_REGION"   value="xxx"/>
        <env name="S3_BUCKET"   value="xxx"/>
        <env name="S3_ENDPOINT" value="xxx"/>
    </php>    
</phpunit>